@import scala.collection.mutable.ListBuffer; var index = 0
@(items: ListBuffer[Item])

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Manufacturer</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @{index = 0}
        @for(item <- items) {
            <a href="#">
            <tr id="@index">

                <td>@item.name</td>
                <td>@item.price</td>
                <td>@item.description</td>
                <td>@item.manufacturer</td>
                <td><a href="@routes.Application.deleteItem(index)">delete</a></td>

            </tr>
            </a>
            @{index = index + 1}
        }

    </tbody>
</table>